body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 20px;
}

table {
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    width: 900px;
}

thead {
    text-align: left;
    background: darkred;
    color: white;
}

th {
    border-right: 1px solid black;
}

th, td {
    padding: 5px;
}

tr:nth-child(even) {
    background: lightskyblue;
}

